@page
@model FUCarRentingSystem_RazorPage.Pages.Admin.Transaction.IndexModel
@{
}
<h1>Index</h1>

<p>
    <a asp-page="CreateTransaction">Create New</a>
</p>
<table class="table table-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarRental[0].PickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarRental[0].ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarRental[0].RentPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarRental[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarRental[0].Car)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CarRental)
        {
            <tr class="@(item.PickupDate < DateTime.Today?"table-secondary":"")">
                <td>
                    @Html.DisplayFor(modelItem => item.PickupDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentPrice)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.CarName)
                </td>
                <td>
                    <a class="btn btn-info" asp-page="Details"
                       asp-route-carId="@item.CarId" asp-route-customerId="@item.CustomerId" asp-route-date="@item.PickupDate.ToString("yyyy-MM-dd")">
                        <i class="fas fa-circle-info"></i>
                    </a>
                    @if (item.PickupDate >= DateTime.Today)
                    {
                        <a class="btn btn-warning" asp-page="Edit"
                           asp-route-carId="@item.CarId" asp-route-customerId="@item.CustomerId" asp-route-date="@item.PickupDate.ToString("yyyy-MM-dd")">
                            <i class="fas fa-edit"></i>
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-warning disabled"
                           title="Can't Edit Transaction that already procedded"
                           asp-page="Edit">
                            <i class="fas fa-edit"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

